

<% @activities.each do |activity| %>
<div class="media">
  <%= image_tag activity.owner.photo, size: "75", class: "pull-left img-thumbnail img-circle center-block" %>
  <div class="media-body">
    <h4 class="media-heading">
      <%= render_activity activity %>
    </h4>
    <%= pluralize(activity.trackable.current_record.streak, 'day') %>!
  </div>
</div>
<% end %>