<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-9">
		<h2>Activity Feed</h2>
		<ol class="breadcrumb">
			<li>
				<a href="index.html">Home</a>
			</li>
			<li class="active">
				<strong>Feed</strong>
			</li>
		</ol>
	</div>
</div>

<% @activities.each do |activity| %>
	<%= activity.trackable.title %>
	<%= activity.trackable.user.name %>
	<% end %>