<!-- Modal -->
<div class="modal fade" id="new_goal_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New Goal</h4>
      </div>
      <div class="modal-body">
        <%= bootstrap_form_for Goal.new, remote: true do |f| %>
        <%= f.text_field :title %>
        <%= f.check_box :private, label: "Private (Your followers will not see this on your profile)" %>
      </div>
      <div class="modal-footer">
        <%= f.submit "Add", class: "btn btn-primary save_goal" %>
        <% end %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>